html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(#65E892, #3994D6, #354ABF, #3D289B);
    background-repeat: no-repeat;
}

div {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    color: #fff;
    text-align: center;
}

#breatheContainer {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border: 10px dotted #65E892;
    padding: 30px;
}

#dateToday {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    border: 10px dotted #65E892;
    padding: 10px;
}

#start {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    border: 10px dotted #65E892;
    padding: 15px;
}

#timer {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    border: 10px dotted #65E892;
    padding: 20px;
    width: 650px;
    height: 100px;
}

#timer div {
    display: inline-block;
    padding: 30px;
    width: 150px;
}

#first {
    /* font-size: ; */
}

#second {
    /* font-size: ; */
}

#third {
    /* font-size: ; */
}